.small-widget {
    border-radius: 10px;
    flex: calc(100% / 3)
}


.big-widget {
    min-width: 50vw;
    min-height: 30vw;
    border-radius: 12px;
}

.medium-widget {
    flex: 1;
    border-radius: 12px;
}

.widget-title {
    font-weight: 300;
}
