.widget-row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.widget-row:last-child {
    margin-top: 0
}

.widget-grid {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.square-widget {
    display: flex;
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
}
.big-widget {
    min-width: 50vw;
    min-height: 30vw;
    border-radius: 12px;
}

.table-container {
    padding: 1vw;
}
