html, body, #root, #app, .container, #app>div  {
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}


.widget {
    flex: 1;
    display: flex;
    width: 60vw;
    height: 36vw;
    border-radius: 12px;
    margin: 0 auto;
}

.tableContainer {
    flex: 1;
    margin: 0 auto;
    padding: 1vw;
}
