.MuiTableContainer-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    table-layout:fixed
}

.MuiTablePagination-root:last-child {
    border-bottom: none
}

.table-pagination-actions-container {
    flex-shrink: 0;
    margin-right: 100%
}
