.MuiTableContainer-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    table-layout:fixed
}

.MuiTablePagination-root:last-child {
    border-bottom: none;
    overflow: visible
}


.MuiIconButton-root {
    padding: 0
}

.table-pagination-actions-container {
    flex-shrink: 0;
    overflow: visible
}

.select-text-container {
    padding-left: 2%;
    margin-bottom: 1%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start
}
